<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/localTax :: htmlHeader"></head>
<body>

<div th:replace="fragments/localTax :: sideNavbar"></div>

<div class="page">
    <div th:replace="fragments/localTax :: breadcrumbs('crumbFirst', 'crumbSecond')"></div>

    <section class="forms">
        <div class="container-fluid">
            <header></header>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card full-height-card">
                        <div class="card-body">
                            <form class="form-horizontal mb-3">
                                <div class="form-group row row-no-right-margin">
                                    <label class="col-sm-2 col-sm-1-5 form-control-label">会計期間</label>
                                    <select id="filter-year" class="form-control form-control-sm col-sm-2 col-sm-1-5 mr-2">
                                    </select>
                                    <select id="filter-month" class="form-control form-control-sm col-sm-2 col-sm-1-5 mr-3">
                                    </select>
                                    <div class="command-buttons">
                                        <button type="button" id="btnReflection" class="btn btn-sm btn-secondary btn-fixed-size">反映</button>
                                    </div>
                                </div>
                            </form>
                            <div class="line"></div>
                            <div class="table-responsive">
                                <table id="tbl-floor-area" class="table table-sm table-striped table-hover nowrap editable-datatable">
	                                <thead>
	                                    <tr>
	                                        <th>ステータス</th>
	                                        <th>エラー内容</th>
	                                        <th>ビル名称(床面積)</th>
	                                        <th>ビル住所(床面積)</th>
	                                        <th>選択</th>
	                                        <th>対応</th>
	                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

</div>

<div>
    <div th:replace="fragments/localTax :: scripts"></div>
    <script type="text/javascript" th:src="@{/js/local_tax_error_floor_area.js}"></script>
</div>

</body>
</html>
