<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/localTax :: htmlHeader"></head>
<body>

<div th:replace="fragments/localTax :: sideNavbar"></div>

<div class="page">
    <div th:replace="fragments/localTax :: breadcrumbs('crumbFirst', 'crumbSecond')"></div>

    <section class="forms">
        <div class="container-fluid">
            <header></header>
            <div class="row">

            </div>
        </div>
    </section>

</div>

<div>
    <div th:replace="fragments/localTax :: scripts"></div>
    <script type="text/javascript" th:src="@{/js/local_tax_scheduler_setting.js}"></script>
</div>

</body>
</html>
