<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="fragments/common :: head('pageName')"></div>
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin/styles.css}">
</head>
<body>

    <div th:replace="fragments/common :: page_header('pageName', 'username')"></div>

    <div class="content">
        <div class="content__criteria">
            <form>
                <div class="row form-group">
                    <label class="col-sm-2 col-form-label" for="rpa_name">RPA名称</label>
                    <div class="col-sm-5">
                        <input class="form-control" type="text" id="rpa_name" />
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-sm-2 col-form-label" for="type">種類</label>
                    <div class="col-sm-5">
                        <select class="form-control" id="type">
                            <option>-</option>
                        </select>
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-sm-2 col-form-label" for="filename">ファイル名</label>
                    <div class="col-sm-5">
                        <input class="form-control" type="text" id="filename" />
                    </div>
                </div>

                <div class="content__bottom_buttons">
                    <button class="btn btn--orange" type="submit">OK</button>
                    <button class="btn btn--white ml20">キャンセル</button>
                </div>
            </form>
        </div>
    </div>

</body>
</html>