<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/tax :: htmlHeader"></head>
<body>

<div th:replace="fragments/tax :: sideNavbar"></div>

<div class="page">
    <div th:replace="fragments/tax :: breadcrumbs('crumbFirst', 'crumbSecond')"></div>

    <section>
        <div class="container-fluid">
            <header></header>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card full-height-card">
                        <div class="card-header">
                            <select name="year" id="year">
								  <option value="2020">2020年度</option>
								  <option value="2019">2019年度</option>
							</select>
							<select name="month" id="month">
							  <option value="4">4</option>
							   <option value="5">5</option>
							   <option value="6">6</option>
							</select>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="tblIncomplete" style="width: 100%;" class="table table-sm table-striped table-hover nowrap">
                                    <thead>
                                    <tr>
                                        <th>ステータス</th>
                                        <th>エラー内容</th>
                                        <th>ビルコード</th>
                                        <th>ビル名称</th>
                                        <th>対応</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

</div>

<div>
    <div th:replace="fragments/tax :: scripts"></div>
    <script type="text/javascript" th:src="@{/js/tax_bldg_err_bldg.js}"></script>
</div>

</body>
</html>